Makefile
Makefile.in
.deps
missing
stamp-*
m4/*
depcomp
aclocal.m4
config.*
autom4te.cache
*.pc
compile
configure
*.desktop
install-sh
libtool
ltmain.sh
*.lo
panel/*.c
panel/*/*.c
panel/*/*/*.c
panel/*/*/*/*.c
widgets/*.c
.libs
*.o
*.stamp
*.la
*.valid
budgie-next-panel
*.gir
*.typelib
*.dirstamp
*resources*.c
*resources*.h
Makefile.in.in
POTFILES
