.notification-center {
    background-color: @theme_bg_color;
}

.main-panel {
    background-color: transparent;
}

.main-panel .clock {
    color: white;
}

.budgie-container {
    background-color: transparent;
}

GtkScrolledWindow {
    background-color: transparent;
}
/*
 * This just looks fugly.
 * GtkPopover {
    background-color: alpha(black, 0.85);
}*/

.notification-center .header-widget {
    color: @theme_fg_color;
    font-size: 12pt;
    background-color: darker(@theme_bg_color);
}

/*.notification-center .button, .notification-center .check {
    color: white;
}*/

NCenter {
    background-color: transparent;
}

.button:hover, .button:checked {
    color: @menu_selected_bg_color;
}

/* Identical to the panel shadow.left */
.shadow-block.vertical {
    background-color: transparent;
    background-image: linear-gradient(to left,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}
.shadow-block.horizontal {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}
.shadow-block.horizontal.bottom {
    background-color: transparent;
    background-image: linear-gradient(to top,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}

ClientImage {
    background-color: transparent;
}


GtkPopover GtkListBox {
    background-image: none;
    background-color: alpha(black, 0.0);
    border-radius: 6px;
}
GtkPopover GtkListBoxRow {
    background-image: none;
    background-color: alpha(black, 0.0);
}
GtkPopover .trough {
    background-color: alpha(black, 0.0);
}

GtkPopover .entry,
GtkPopover .entry:focused,
GtkPopover .entry:selected,
GtkPopover .entry:active,
GtkPopover .entry:hover
{
    border: 1px solid alpha(white, 0.0);
   border-image: none;
    background-image: none;
    background-color: alpha(white, 0.0);
    box-shadow: none;
}


/** Taken from budgie panel! */
/** Selected window highlight on icon tasklist */
.budgie-icon-tasklist {
    border-color: white;
}
.budgie-panel .launcher,
PanelToplevel .launcher {
    border: 2px solid alpha(white, 0.0);
    background-image: none;
    transition: 100ms ease-in;
}
.budgie-panel .launcher:hover,
PanelToplevel .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-bottom: 2px solid alpha(white, 0.5);
}

/* Top launchers */
.top .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-top: 2px solid alpha(white, 0.5); 
}

/* Left hand side launchers */
.left .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-left: 2px solid alpha(white, 0.5);
}

/* Right hand side launchers */
.right .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-right: 2px solid alpha(white, 0.5);
}
