.notification-center, .main-panel {
    background-color: alpha(black, 0.66);
}

.budgie-container {
    background-color: transparent;
}

/*
 * This just looks fugly.
 * GtkPopover {
    background-color: alpha(black, 0.85);
}*/

.notification-center .header-widget {
    color: alpha(white, 0.80);
    font-size: 12pt;
    background-color: alpha(black, 0.26);
}

.notification-center .button, .notification-center .check {
    color: white;
}

NCenter {
    background-color: transparent;
    color: white;
}

.main-panel GtkButton {
    color: white;
}

/* Identical to the panel shadow.left */
.shadow-block.vertical {
    background-color: transparent;
    background-image: linear-gradient(to left,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}
.shadow-block.horizontal {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}

ClientImage {
    background-color: transparent;
}


GtkPopover GtkListBox {
    background-image: none;
    background-color: alpha(black, 0.0);
    border-radius: 6px;
}
GtkPopover GtkListBoxRow {
    background-image: none;
    background-color: alpha(black, 0.0);
}
GtkPopover .trough {
    background-color: alpha(black, 0.0);
}

GtkPopover .entry,
GtkPopover .entry:focused,
GtkPopover .entry:selected,
GtkPopover .entry:active,
GtkPopover .entry:hover
{
    border: 1px solid alpha(white, 0.0);
   border-image: none;
    background-image: none;
    background-color: alpha(white, 0.0);
    box-shadow: none;
}
